# ! no secrets should be put here
# if <env>="" then defaults will be used
port=""  # default 8080
replicas="" # default 2
cloud=""  # default aws
disk_size=""  # default 100
cpu=""  # default 4+
memory=""  # default 10+
accelerators=""  # default "" for cpu
setup="docker buildx build -f Dockerfile -t service ."  # default `poetry install`
run="docker run --rm --network host service"  # default `poetry run python service.py`
